@import "./codeblocks.css";
@import "./math.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

.gradient-text {
	background-image: radial-gradient(
		circle farthest-corner at 92.3% 71.5%,
		rgba(83, 138, 214, 1) 0%,
		rgba(134, 231, 214, 1) 90%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.slow-spin {
	@media (prefers-reduced-motion: no-preference) {
		@keyframes spin {
			to {
				transform: rotate(360deg);
			}
		}
	}
	@media (prefers-reduced-motion: no-preference) {
		animation: spin 10s linear infinite;
	}
}

.fade-right {
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 95%, transparent);
}

.fade-x {
	mask-image: linear-gradient(
		90deg,
		transparent,
		rgba(0, 0, 0, 1) 5%,
		rgba(0, 0, 0, 1) 95%,
		transparent
	);
}
